@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<hr />
<div style="text-align:end;  background-color:darkseagreen; color:darkviolet; font-size:30px">
    Este ora @ViewBag.Message 
</div>
<hr />